<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'addSubject.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Gugi&family=Josefin+Sans&family=Koulen&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2>ADD SUBJECT💨</h2>
    <div class="list">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button">등록</button>
        </form>
    </div>
</body>
</html>