<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'korean.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Do+Hyeon&family=Gugi&family=Josefin+Sans&family=Koulen&family=Song+Myung&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h2>국어국문학과 과목💯</h2>
    <ol class="list">
        {% for subject in koreanMajor %}
        <li>
            <div class="info">
                <span> {{ subject.subject_name }}</span>
                <span> /{{ subject.major }}</span>
                <span> /{{ subject.prof_name }}</span>
                <a href="{% url 'editSubject' subject.pk %}">수정</a>
                <a href="{% url 'deleteSubject' subject.pk %}">삭제</a>
            </div>
            <div class="memo"> {{ subject.memo }}</div>


        </li>

        {% endfor %}
    </ol>
</body>
</html>