{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_page.css' %}">
{% endblock css %}

{% block title %}
<h2>게시글 상세 페이지</h2>
{% endblock %}

{% block content %}
<h3 class="posttitle">제목: {{ post.title }}</h3>
<p class="postcontent">내용: {{ post.content }}</p>
{% if user.is_authenticated %}
<form class="comment" method="POST">
    {% csrf_token %}
    <input class="inputcomment" type="text" name="content" placeholder="댓글을 입력하세요.">
    <button class="commentbutton" type="submit">작성하기</button>
</form>
{% endif %}

{% for comment in post.comments.all %}
<li class="commentcontent">
    {{comment.content}}
    {% if user.is_authenticated and comment.author.pk == user.pk %}
    <a href="{% url 'delete-comment' post.pk comment.pk %}">삭제</a>
</li>
{% endif %}
{% endfor %}
{% endblock %}

{% block button %}
<a class="back" href="{% url 'home' %}">뒤로가기</a>
{% if user.is_authenticated and post.author.pk == user.pk %}
<a class="edit" href="{% url 'edit_post' post.pk %}">수정하기</a>
<a class="delete" href="{% url 'delete_post' post.pk %}">삭제하기</a>
{% endif %}
{% endblock %}