<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gugi&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'home' %}">◀일정 전체보기</a>
        <h2>일정 추가</h2>
        <h5>바쁘다바빠 현대사회 알쏭달쏭 모바일세상</h5>
        <div class="container">
            <div class="title">
                <label for="title">🎠할 일</label>
                <input type="text" name="title" id="title" placeholder="제목">
            </div>
            <div class="content">
                <label for="content">🔎세부사항</label>
                <input type="text" name="content" id="content" placeholder="내용">
            </div>
            <div class="date">
                <label for="date">📓마감 기한</label>
                <input type="date" name="date" id="date" placeholder="마감 기한">
            </div>
        </div>
        <button type="submit">제출하기</button>
    </form>
</body>
</html>