* {
    background-color: #FAEBD7;
}

h2 {
    font-family: 'Koulen', cursive;
    font-size: 110px;
    margin-bottom: -10px;
    margin-top: -10px;
    text-align: center;
    color: #FF6347;
}

.list {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    display: flex;
    justify-content: center;
}

.button {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    margin: auto;
    display: block;
}