.major, .subject {
    font-family: 'Koulen', cursive;
    font-size: 110px;
    margin-bottom: -10px;
    margin-top: -10px;
}

a {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}

.bigcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container1, .container2 {
    margin-left: 150px;
    margin-right: 150px;
}


.majorinfo, .subjectinfo {
    font-family: 'Gugi', cursive;
    font-size: 20px;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #F0F8FF 50%, #FFF0F5 50%);
  }